/* 
██████╗  █████╗ ██████╗ ██╗  ██╗     ███╗   ███╗ ██████╗ ██████╗ ███████╗
██╔══██╗██╔══██╗██╔══██╗██║ ██╔╝     ████╗ ████║██╔═══██╗██╔══██╗██╔════╝
██║  ██║███████║██████╔╝█████╔╝█████╗██╔████╔██║██║   ██║██║  ██║█████╗  
██║  ██║██╔══██║██╔══██╗██╔═██╗╚════╝██║╚██╔╝██║██║   ██║██║  ██║██╔══╝  
██████╔╝██║  ██║██║  ██║██║  ██╗     ██║ ╚═╝ ██║╚██████╔╝██████╔╝███████╗
╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝     ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚══════╝ */

.dark-mode {
    background-color: var(--color-gray-900);
    color: var(--color-white);

    p {
        color: var(--color-tex-wh-o70);
    }

    .sticky-header {
        background: transparent;

    }
    .sticky-header.scrolled {
        background: var(--color-gray-900);
    }

    header {
        
        .nav-link {
            color: var(--color-gray-500);

            &:hover {
                color: var(--color-primary);
            }
        }
        
        .btn-toggle-switch {
            .label {
                color: var(--color-gray-700);
            }
        }

        
        .btn-mobile {
            color: var(--color-white);
        }
    }

    
    #showcase-section {

        
        #sc-text {
            
            color: var(--color-tex-wh-o70);
        }

       
        .btn-download-app {
            background-color: var(--color-gray-200);

            &:hover {
                background-color: var(--color-gray-500);
            }
        }

        
        .btn-circle:hover {
            background-color: var(--color-gray-700);
        }

        
        .discover-more {
            span {
                color: var(--color-tex-wh-o70);
                /* color: rgba(255, 255, 255, 0.5); */
            }
        }
    }


    .brand-box {
        background: var(--color-almostblack-blue);
    }

    

    #app-features-section {

        .af-img-container::before {
            background-color: rgba(243, 246, 255, 0.05);
        }
    }

    #carousel-section {
        background-color: var(--color-gray-100-dark);
    }

    #app-features-followup-section {

        .sf2-img-container::before {
            background-color: rgba(243, 246, 255, 0.05);
        }
    }

    #testimonial-section {
        
        background-color: var(--color-gray-100-dark);
        
        .review-box {
            background-color: var(--color-white-dark);   
        }
    }

    
    #faq-section {
        
        .a1, .a2, .a3, .a4, .a5, .a6 {
            color: var(--color-white);
        }
        
        .faq-accordion-box {

            @media (width < 768px) {
                border: 0.5px solid var(--color-gray-200-op);                
            }

            .box-box:active {
                border: 1px solid var(--color-gray-200-op);
            }
        }
        .faq-accordion {
            background-color: var(--color-gray-100-dark);

            @media (width < 768px) {
                background-color: var(--color-almostblack-blue);
                border: 0.5px solid var(--color-gray-200-op);                
            }
        }
        .faq-accordion + .faq-panel {
            background-color: var(--color-gray-100-dark);

            @media (width < 768px) {
                background-color: var(--color-almostblack-blue);
                /* border: 0.5px solid var(--color-gray-200-op); */                
            }
        }
        .faq-accordion .icon-down {
            
            background-color: hsla(223, 26%, 14%, 0.911);
            color: var(--color-white);
        }
    }

    #subscribe-section {
        .sub-box {
            background-color: var(--color-gray-100-dark);
        }
    }
}