/* This handles how buttons should look, act and feel. */
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 8px 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    &:hover {
        background-color: var(--color-gray-600);
        color: var(--color-white);
        text-decoration: none;
    }
    
    i {
        margin-right: .5rem;
    }
}

/* Default light mode styles */
.btn-circle {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    /* border: 1px solid var(--color-gray-100); */
    color: var(--color-black);
    z-index: 1;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--color-white);
        transition: background-color 0.3s ease, opacity 0.3s ease;
        z-index: -1;
    }
    
    &:hover::before {
        background-color: var(--color-gray-500); /* Lighter gray when hovering */
    }
    
    &:hover {
        color: var(--color-black);
    }
}

body.dark-mode .btn-circle {
    color: rgba(255, 255, 255, 1);

    &::before {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.btn-download-app {
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    &:hover {
        background-color: var(--color-gray-700);
        /* color: var(--color-white); */
        text-decoration: none;
    }
}

.btn-round-white {
    background-color: var(--color-white);
    color: var(--color-white);
    border-radius: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    &:hover {
        background-color: var(--color-gray-600);
        color: var(--color-white);
        text-decoration: none;
    }
    
    i {
        margin-right: .5rem;
    }
}

.btn-round-grey {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-radius: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    &:hover {
        background-color: var(--color-gray-600);
        color: var(--color-white);
        text-decoration: none;
    }
    
    i {
        margin-right: .5rem;
    }
}


.btn-app {
    background-color: var(--color-black);
    border-radius: 8px;
    padding: 10px 25px;
    width: 100%;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    &:hover {
        background-color: var(--color-gray-600);
        color: var(--color-white);
        text-decoration: none;
    }
    
    i {
        margin-right: .5rem;
    }
}