/* --------------------------------------------------------------- DARK MODE CONFIGURATION */
/* DARK MODE CONFIGURATION */
.dark-mode {
    background-color: var(--color-gray-900);
    color: var(--color-white);


    header {
        /* Features Text*/
        .nav-link {
            color: var(--color-gray-500);
            
            &:hover {
                color: var(--color-primary);
            }
        }
        /* Dark mode Text */
        .btn-toggle-switch {
            .label {
                color: var(--color-gray-700);
            }
        }

        /* Burger Menu Icon */
        .btn-mobile {
            color: var(--color-white);
        }
    }

    /* Showcase Title */
    #sc-title {
        color: var(--color-white);
    }
    /* Showcase Text */
    #sc-text {
        color: var(--color-white);
        color: var(--color-tex-wh-o70);
    }

    /* Marketplace Buttons */
    .btn-download-app {
        background-color: var(--color-gray-500);
        
        &:hover {
            background-color: var(--color-gray-400);
        }
    }
    
    /* Discover more Button */
    .btn-circle:hover {
        background-color: var(--color-gray-700);
    }
    
    /* Discover more Text */
    .discover-more {
        span {
            color: var(--color-tex-wh-o70);
            /* color: rgba(255, 255, 255, 0.5); */
        }
    }

    /* Brandbox Blue */
    .brand-box {
        background-color: var(--color-almostblack-blue);
    }

    /* App Features - Top section */
    .app-features-info {

        #af-title-text {
            color: var(--color-white);
            opacity: 70%;
        }
    }

    /* App Features - Grid */
    .features .af-text-container {

        p {
            color: var(--color-white);
            opacity: 70%;
        }
    }
}