#app-features-followup-section {
    display: none;
    padding-bottom: 5rem;
    
    @media (min-width: 1400px) {
        display: block;
        padding-bottom: 8rem;  
    }
    
    .btn {   
        border: none;
        height: 3em;
        margin: 0;
        width: 160px;
        padding: 0;
    }
    .sf-direction {
        margin-top: 2.5rem;
        left: 0;
    }
    .icon {
        padding-left: 1rem;
    }

    p {
        font-size: 1rem;
    }
}

.sf-grid-wrap {
    display: grid;
    justify-content: center;
    text-align: left;   
}
/*                              UPPER BOX                            */
/* ################################################################# */

.sf-upper-box {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.text-cluster-left {
    display: grid;
    grid-area: 1 / 1;
    max-width: 60%;
    
    #sf-heading-1 {
        padding-bottom: 2rem;
        font-size: 2rem;
        font-weight: 800;
    }
    
    .sf2-flexthis {
        display: flex;
        gap: .5rem;
        margin-bottom: 1rem;
    }
}
.sf-image-box-right {
    margin-top: 8rem;
    grid-area: 1 / 2;
}
.right-img-front {            
    position: relative;
    margin-left: 14rem;
    transform: translateY(-65px);
}

/*                              LOWER BOX                            */
/* ################################################################# */

.sf-lower-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;

    /* I THINK IT LOOK MUCH BETTER WITH THIS DISTANCE! */
    padding-top: 3rem;
}
.text-cluster-right {
    grid-area: 1 / 2;
    margin-top: -2rem;
    
    #sf-heading-2 {
        padding-bottom: 1rem;
        font-size: 2rem;
        font-weight: 800;
        width: 500px;
    }

    .text-box-right {
        display: flex;
        gap: 2rem;
        --_max-width: 250px;
    }
    
    .sf-left-bunch {
        max-width: var(--_max-width);
    }
    .sf-right-bunch {
        max-width: var(--_max-width);
    }
    .sf2-img-container {
        position: relative;
        justify-content: center;
        justify-items: center;
        width: 58px;
        height: 60px;
        padding: 1rem;
        margin-bottom: 1rem;
        
        &:hover {
            box-shadow: 0 0 5px var(--color-gray-700);
            border-radius: .5rem;
        }
    }

    .sf2-img-container img {
        width: 100%;
        height: auto;
    }
    
    .sf2-img-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-gray-100);
        transition: background-color 0.3s ease;
        border-radius: 8px;
        z-index: -1; /* Behind the image */
    }
}
.sf-image-box-left {
    grid-area: 1 / 1;
}
.left-img-front {            
    position: absolute;
    margin-left: 8rem;
    transform: translateY(-340px);
}