.bg-gradient { background: linear-gradient(var(--linear-gradient-c-sec)); }
/* .bg-gradient { background: var(--color-gray-100) } */
#carousel-section {
    /* padding-top: 1rem; */
    padding-bottom: 5rem;
}
.c-wrap {
    display: grid;
    justify-content: center;
    text-align: center;
    
    .c-title {
        font-weight: 800;
        font-size: 22px;
        
        @media (min-width: 768px) {
            font-size: 24px;

            @media (min-width: 1400px) {
                font-size: 26px;
            }
        }
    }

    .mobile-carousel {
        
        @media (min-width: 768px) {
            display: none;
        }

        .carousel-wrapper {

            .carousel-grid {
                display: grid;
                grid-template-columns: 1fr;
                justify-content: center;
                padding: .5rem;
                
                width: auto;

                /* .outer-layers {
                    height: auto;
                    width: 90%;
                } */
                
                .c-top-layer {
                    z-index: 100;
                    opacity: 1;

                    position: relative;
                    grid-area: 1 / 1 / span 1 / span 1;
                }
                
                #c-slide-layer {
                    justify-content: center;
                    z-index: 2; 
                    opacity: 1;

                    display: flex;
                    grid-area: 1 / 1 / span 1 / span 1;
                    
                    .image-1 { display: none; }
                    .image-2 {  }
                    .image-3 { display: none; }
                    
                    /* .inner-layers {
                        height: 100%;
                        width: auto;
                    } */
                    
                }
                
                .c-bottom-layer {
                    z-index: 0;
                    position: relative;
                    grid-area: 1 / 1 / span 1 / span 1;
                }

            }
        }
    }

    .tablet-carousel {
        display: none;

        @media (min-width: 768px) {
            display: block;

            @media (min-width: 1400px) {
                display: none;
            }
        }
    }

    .desktop-carousel {
        display: none;

        @media (min-width: 1400px) {
            display: block;
        }
    }

    .c-text {
        h3 {
            font-weight: 800;
            font-size: 22px;
        }
        
        p {
            color: var(--color-almostblack-blue);
            font-size: 16px;
        }
    }
}

