.bg-gradient {
    background: var(--linear-gradient-c-sec); /* Background gradient applied to the section */
}

#carousel {
    grid-area: carousel-section; /* Grid area assignment for carousel */

    padding-top: 3rem; /* Top padding for spacing */
    padding-bottom: 5rem; /* Bottom padding for spacing */
    text-align: center; /* Center-align text */

    .container {
        display: grid;
        justify-content: center;

        .carousel-title {
            display: grid;
            grid-template-columns: auto;

            font-size: 27.9px; /* Font size for the title */
            font-weight: 800; /* Font weight for the title */

            @media (min-width: 768px) {
                font-size: 33.5px; /* Adjust font size for tablets and above */

                @media (min-width: 1400px) {
                    font-size: 40px; /* Larger font size for large screens */
                }
            }
        }


       

        .carousel-text-container {
            display: grid; /* Display text container as grid */
            justify-items: center; /* Center items inside the grid */
            text-align: center; /* Center-align text */

            h3 {
                font-weight: 800; /* Bold font for headings */
            }

            p {
                color: var(--color-gray-700); /* Color for paragraph text */
            }
        }
    }
}