.carousel {
    padding-top: 3rem;
    padding-bottom: 5rem;
    text-align: center;
    
    .grid {

        
        .carousel-title {
            font-size: 27.9px;
            font-weight: 800;
            
            @media (min-width: 768px) {
                font-size: 33.5px;
                
                @media (min-width: 1400px) {
                    font-size: 40px;
                }
            }
        }
    
        #carousel-grid-container {
            display: grid;
            grid-template-columns: 1fr;
            /* overflow-x: hidden; */

            @media (min-width: 768px) {
                

                @media (min-width: 1400px) {
                    
                }
            }
        
            .carousel-wrapper {
                /* Make sure only the middle item is visible */
                /* Adjust translation for other items */

                transform: translateX(0); 
                transition: transform 0.5s ease;

                .carousel-grid {
                    
                    .carousel-item {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                    
                        gap: 5rem;
                        /* justify-content: center;
                        justify-items: center; */
                        
                        .image-layers {
                            display: grid;
                            grid-template-rows: 1fr;
                            position: relative;
                            width: 100%;
                            height: 100%; 
                            
                            .layer {
                                /* position: absolute; */
                                top: 0;
                                left: 0;
                                width: 100%;
                                opacity: .1; 
                                transition: opacity 0.3s ease-in-out;
                                /* display: grid;
                                grid-template-rows: 1fr; */
                                
                            }
                            #image-4 {
                                display: none;
                            }
                            #image-12 {
                                display: none;
                            }
                            .layer-1 {
                                display: block;
                                /* width: 110%;
                                height: auto;
                                top: -1.3rem;
                                left: -1.1rem; */
                                z-index: 5;
                                opacity: 1;
                            }
                            .layer-2 { 
                                display: block;
                                z-index: 3;
                                
                                width: 90%;
                                height: auto;
                            }
                            .layer-3 {
                                display: block;
                                z-index: 2;
                                opacity: 1;
    
                                width: 90%;
                                height: auto;
    
                                border-radius: 3rem;
                            }
                            .layer-4 {
                                display: block;
                                z-index: 1;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .carousel-text-container {
            display: grid;
            justify-items: center;
            text-align: center;
            
            h3 {
                font-weight: 800;
                /* font-size: 21.6px; */
            }
            p {
                color: var(--color-gray-700);
            }
        }
    }
}