body {
    overflow-x: hidden;
}


#carousel-section {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: var(--color-gray-100);

    @media (min-width: 1400px) {
        padding-bottom: 6rem;
    }
    
    .c-wrap {
        display: grid;
        justify-content: center;
        text-align: center;
        
        .c-title {
            font-weight: 800;
            font-size: 20px;
            margin-bottom: 1rem;
            
            @media (min-width: 768px) {
                font-size: 26px;
                margin-bottom: -3.5rem;
                
                @media (min-width: 1400px) {
                    font-size: 30px;
                    margin-bottom: 0;
                }
            }
        }
        
        /* MOBILE VIEW */
        .mobile-carousel { display: block; 
            
            .carousel-wrapper {
                max-width: 600px;
                overflow: hidden;
                
                .carousel-grid {
                    display: grid;
                    grid-template-columns: 1fr;
                    justify-content: center;
                    max-width: 100%;
                    
                    .c-top-layer {
                        opacity: 1;
                        position: relative;
                        grid-area: 1 / 1 / span 1 / span 1;
                    }
                    
                    #c-slide-layer {
                        z-index: 1;
                        display: flex;
                        justify-content: center;
                        opacity: 1;
                        position: relative;
                        grid-area: 1 / 1 / span 1 / span 1;

                        transition: transform 0.7s ease-in-out; /* For smooth sliding */                       
                    }
                    
                    .c-layers {
                        flex: 0 0 100%;
                        display: flex;
                        justify-content: center;
                        z-index: 0;
                        margin-bottom: 1rem;
                        
                        .inner-layers {
                            max-width: 100%;
                            cursor: pointer;
                            z-index: 1;
                        }
                    }
                    
                    .c-bottom-layer {
                        z-index: 0;
                        position: relative;
                        grid-area: 1 / 1 / span 1 / span 1;
                    }
                    
                    .mobile-text-container {
                       
                        grid-area: 2 / 1 / span 1 / span 3;
                        
                        .carousel-heading {
                            height: 50px;

                        }
                        .carousel-text {
                            height: 100px;
                            margin-top: 1rem;
                        }
                    }
                }

                @media (min-width: 768px) { display: none; }
            }
        }     
        
        /* SETTINGS | --- TABLET & DESKTOP --- | SETTINGS */
        
        .carousel-wrapper { overflow: visible;
            
            display: grid;
            justify-items: center;
            align-items: center;

            .slide-box {
                display: flex;
                grid-area: 1 / 1;
                z-index: 1;
                
                .slide-layers {
                    cursor: pointer;
                    img {
                        transition: transform 0.5s ease, z-index 0.5s ease;
                    }
                }
            }
            
            .slide-bg { grid-area: 1 / 1; }

            .carousel-text-container {
                margin-top: -3rem;
                grid-area: 2 / 1 / span 1 / span 1;
            }
        }


        /* TABLET VIEW */
        .tablet-carousel { display: none; 
            
            @media (min-width: 768px) and (max-width: 1399px) { display: block; 
            
                .carousel-wrapper {
                    
                    .slide-box {
                           
                        .slide-layers {
                             
                            #t-1 { order: 0; }
                            #t-2 { order: 1; }
                            #t-3 { order: 2; }
                        }
                    }
                    
                    .slide-bg {
                        
                        transform: scale(0.75);
                    }
                }
            }
        }     

        /* DESKTOP VIEW */
        .desktop-carousel { display: none; 
            
            @media (min-width: 1400px) { display: block;

                /* https://www.w3schools.com/css/css3_masking.asp */
                .mask {
                    -webkit-mask-image: url(/images/carousel/desktop/desktop-mask-layer_1.svg);
                    mask-image: url(/images/carousel/desktop/desktop-mask-layer_1.svg);
                    /* mask-repeat: repeat-x;
                    contain: layout; */
                }
                
                .carousel-wrapper {

                    .slide-box {
                        gap: 8rem;

                        .slide-layers {
                            
                            #t-1 { order: 0; }
                            #t-2 { order: 1; }
                            #t-3 { order: 2; }
                        }
                    }

                    .slide-bg { transform: scale(1); }

                    .carousel-text-container { margin-top: 1rem; }
                }
            }
        }
    }
}