

#faq-section{
    padding-bottom: 0;
    
    @media (min-width: 1400px) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .faq-container {
        display: grid;

        @media (min-width: 1400px) {
            grid-template-columns: 31% 1fr;
            gap: 8rem;
        }
    }

    .faq-heading-field {
        margin-bottom: 3rem;
        text-align: center;

        h2 {
            font-weight: 800;
            font-size: 24.7px;
            
            @media (min-width: 768px) {
                font-size: 32px;
                
                @media (min-width: 1400px) {
                    max-width: 325px;
                }
            }
        }

        @media (min-width: 1400px) {
            grid-area: 1 / 1;
            text-align: left;
            max-width: 98%;
        }
    }

    .faq-accordion-box {
        overflow: hidden;
        border: none;
        
        @media (width < 768px) {
            
            border: 0.5px solid var(--color-gray-200);
            border-radius: .5rem;
            
        }
        .box-box {
            overflow: hidden;

            p {
                font-size: 1rem;
                padding-top: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-bottom: 2rem;
            }

            @media (min-width: 768px) {
                margin: 1rem;
                border-radius: .8rem;
                box-shadow: 0 3px 6px #00000013;
            }
        }  
    }
    
    .faq-accordion {
        display: grid;
        grid-template-columns: 1fr 80px;
        align-items: center;
        justify-content: center;
        text-align: left;
        
        height: 4rem;
        width: 100%;
        border: 0.5px solid var(--color-gray-200);
        background-color: transparent;
        position: relative;
        
        font-weight: 600;
        font-size: 16px;
        transition: transform 1s ease-in-out;
        cursor: pointer;
        gap: 1rem;
        
        @media (min-width: 768px) {
            border: none;
        }
        .a1, .a2, .a3, .a4, .a5, .a6 {
            padding-left: 1rem;
        }
        
        .fa-chevron-up {
            color: var(--color-white);
            box-shadow: 0 7px 14px var(--color-primary-op);
        }

        .icon-down {
            grid-area: 1/2;
            position: absolute;
            background-color: var(--color-gray-100);
            padding: 15px;
            justify-self: center;
            border-radius: 50%;
            
            &:hover {
                background-color: var(--color-gray-600);
            }
        }
    }
    
    /* ChatGPT code */    
    .faq-accordion + .faq-panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        font-size: 14px;
    }
    
    .faq-m-contact {
        padding: 3rem;
        padding-top: 4rem;
        
        
        .btn {
            padding: 1rem;
            width: 160px;
            border: none;
        }
        
        @media (min-width: 768px) { display: none; }
    }
    
    .faq-t-contact { display: none;
        
        @media (min-width: 768px) {
            display: block;
            
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 11rem;
            padding: 1.5rem;
            gap: 1rem;
            
            .tplus-style {
                background-color: transparent;
                border: 2px solid var(--color-gray-200);
                border-radius: .5rem;
                display: grid;
                justify-content: left;
                padding: 1rem;
                cursor: pointer;
                
                .contact-us {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    font-weight: 600;
                }
                
                .call-us-flex {
                    color: var(--color-primary);
                }
                .message-us-flex {
                    color: var(--color-green);
                }
            }
            
            @media (min-width: 1400px) {
                grid-area: 1 / 1;
                position: relative;
                transform: translateY(170%);
                padding: 0;
                height: 8rem;
            }
        }
    }
}
