

#faq-section{
    padding-bottom: 0;
    
    @media (min-width: 1400px) {
        padding-bottom: 7rem;
    }


    .faq-container {
        display: grid;

        @media (min-width: 1400px) {
            grid-template-columns: 31% 1fr;
            gap: 8rem;
        }
    }

    .faq-heading-field {
        margin-bottom: 3rem;
        text-align: center;

        h2 {
            font-weight: 800;
            font-size: 24.7px;
            
            @media (min-width: 768px) {
                font-size: 32px;
                
                @media (min-width: 1400px) {
                    max-width: 325px;
                }
            }
        }

        @media (min-width: 1400px) {
            grid-area: 1 / 1;
            text-align: left;
            max-width: 98%;
        }
    }

    .faq-accordian-box {
        border: 1px solid var(--color-gray-200);
        border-radius: .5rem;
        
        overflow: hidden;
    }

    .faq-accordion {
        display: grid;
        grid-template-columns: 1fr 80px;
        align-items: center;
        justify-content: center;
        text-align: left;

        height: 4rem;
        width: 100%;
        /* background-color: var(--color-white); */
        background-color: transparent;
        border: 1px solid var(--color-gray-200);
        position: relative;
        
        font-weight: 600;
        font-size: 16px;
        transition: transform 1s ease-in-out;
        cursor: pointer;
        gap: 1rem;
        
        .a1, .a2, .a3, .a4, .a5, .a6 {
            padding-left: 1rem;
        }
        
        .icon-down {
            grid-area: 1/2;
            position: absolute;
            background-color: var(--color-gray-100);
            padding: 15px;
            justify-self: center;
            border-radius: 50%;

            &:hover {
                background-color: var(--color-gray-600);
            }
        }
    }
    
    /* ChatGPT code */    
    .faq-accordion + .faq-panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        font-size: 14px;
    }

    .faq-m-contact {
        padding: 3rem;
        padding-top: 4rem;

        
        .btn {
            padding: 1rem;
            width: 160px;
        }
        
        @media (min-width: 768px) { display: none; }
    }

    .faq-t-contact { display: none;

        @media (min-width: 768px) {
            display: block;
            
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 11rem;
            padding: 1.5rem;
            gap: 1rem;
            
            .tplus-style {
                background-color: transparent;
                border: 2px solid var(--color-gray-200);
                border-radius: .5rem;
                display: grid;
                justify-content: left;
                padding: 1rem;
                cursor: pointer;

                .contact-us {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    font-weight: 600;
                }

                .call-us-flex {
                    color: var(--color-primary);
                }
                .message-us-flex {
                    color: var(--color-green);
                }
            }
            
            @media (min-width: 1400px) {
                grid-area: 1 / 1;
                position: relative;
                transform: translateY(170%);
                padding: 0;
                height: 8rem;
            }
        }
    }
}
