/* --------------------------------------------------------------- NAVIGATION BAR SECTION */
/* NAVIGATION BAR SECTION */

/* Start with the header being fully transparent */
.sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    /* left: 0; */
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    transition: background-color 0.5s ease;
    z-index: 1000;
    
}

/* First section styling */
.first-section {
    padding-top: 1rem;
    top: 0; 
}

/* When scrolled, make the header fully opaque in light mode */
.sticky-header.scrolled {
    background: var(--color-white); 
}

/* Dark mode: Initially transparent */
body.dark-mode .sticky-header {
    background: transparent; 
}

/* Dark mode: When scrolled, apply --color-gray-900 */
body.dark-mode .sticky-header.scrolled {
    background: var(--color-gray-900); 
}



header {

    .container {
        display: grid;
        grid-template-columns: 1fr auto auto;
        /* grid-template-areas: "Logo sw mobile"; */
        gap: 1.5em;
        padding-top: 1rem;
        padding-bottom: 1rem;
        
        align-content: center;
        
        @media (min-width: 768px) {
            gap: 3rem;
            
            @media (min-width: 1400px) {
                grid-template-columns: auto 1fr auto auto;
                gap: 3rem;
            }
        }
        
    }
}

.navbar {
    /* Menu Alternatives Show/Hide */
    display: none;

    @media (min-width: 1400px) {
        /* Menu option Show/Hide */
        display: block;
        align-content: center;
        margin-top: .2rem;
    }
    
}

/* Partly taken from School Guidance Material & ChatGPT */
#logo {
    display: flex;
    position: relative;
    align-items: center;
    gap: 1.5rem;
    left: .3rem;
    max-width: 150px;

    #logo-img {
        transform: scale(1.2);
    }
    
    #logo-text {
        margin-right: 1.5rem;
        transform: scale(1.2);
    }
}

.nav-link {
    color: var(--color-gray-900);
    font-weight: 600; /* SemiBold */
    text-decoration: none;
    
    &:hover {
        color: var(--color-primary);
        
        &.active {
            color: var(--color-primary);
            text-decoration: underline;
        }
    }

}

#auth-signin-create {
    /* Sign in / up button Show/Hide */
    display: none;

    @media (min-width: 1400px) {
        display: block;
    }
}

#burger-menu {
    
    color: var(--color-white);
}

/* While the earlier button settings focused on the bigger picture, this one focus on the hamburger menu. */
.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    padding-top: .25rem;
    
    @media (min-width: 1400px) {
        display: none;
    }
}

/* This part handles the toggle button, for dark/light mode. */
.btn-toggle-switch {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    
    gap: 15px;
    
    /* Dark Mode Text Show/Hide */
    &>.label {
        display: none;
        font-weight: 700;  

        @media (min-width: 768px) {
            display: block;
        }
    }
}


.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    
    /* align-items: center; */

    input {
        opacity: 0;

        &:checked + .slider {
            background-color: var(--color-primary);
        }

        &:focus + .slider {
            box-shadow: 0 0 1px var(--color-primary);
        }

        &:checked + .slider::before {
            transform: translateX(18px);
            background-color: var(--color-white);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-gray-600);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Add shadow here */

        &::before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 3px;
            bottom: 2.5px;
            background-color: var(--color-white);
            transition: all 200ms;
            /* ChatGPT */
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow to the slider knob */
        }

        &.round {
            border-radius: 35px;

            &::before {
                border-radius: 50%;
            }
        }
    }
}