/* Pick your poison. */
.old-code {display: none;}
.new-code {display: block;}

* {
    box-sizing: border-box;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
    font-size: 18px;
}

.wrapper {

    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    
    grid-template-areas: 
    "showcase-section"
    "brands-section"
    "app-features-section"
    "carousel-section"
    "footer-section";
}

.bg-gradient {
     /* For browsers that doesn't support gradient. . . . . . . . . . . . . IE? */
    background: rgb(99, 102, 241);

    /* Gradient background */ /* Got some help from ChatGPT here, or rather mostly with changing the colours in the root section. */
    background: var(--linear-gradient-sc-sec);
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
    
    @media (min-width: 768px) {
        max-width: 720px;
        
        @media (min-width: 1400px) {
            max-width: 1360px;
        }
    }
}

#line {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}
/* (ChatGPT) */
.full-width-line {
    width: 100%;
    border: none;          /* Remove default styling */
    border-top: 2px solid var(--color-almostblack-blue);  /* Define the line */
    margin: 0;             /* Adjust margins as needed */  
}